# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
ENV/

# IDE / editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Secrets (just in case)
MAL_CLIENT_*
