pkgbase = ani-sync-bin
	pkgdesc = Stream anime from terminal with 64x turbo speed & auto tracking (Pre-compiled standalone binary)
	pkgver = 2.5.0
	pkgrel = 1
	url = https://github.com/idrisharis12/ani-sync
	arch = x86_64
	license = MIT
	depends = mpv
	depends = fzf
	optdepends = yt-dlp: Recommended for stream acceleration
	optdepends = discord: Discord Rich Presence integration
	provides = ani-sync
	conflicts = ani-sync
	source_x86_64 = https://github.com/idrisharis12/ani-sync/releases/download/v2.0.0/ani-sync-linux-x86_64
	sha256sums_x86_64 = SKIP

pkgname = ani-sync-bin
